{% extends "base.html" %}
{% block main %}
<h2>Войти в аккаунт</h2>
{% if message %}
<p>{{ message }}</p>
{% endif %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control") }}
        {% for error in form.email.errors %}
            <p class="alert alert-danger">
                {{ error }}
            </p>
        {% endfor %}

    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control") }}
        {% for error in form.password.errors %}
            <p class="alert alert-danger">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>

        {{ form.remember_me() }}
        {{ form.remember_me.label }}
    </p>
    <p>
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </p>
</form>
{% endblock %}