{% extends "base.html" %}
{% block main %}
<h2>Регистрация магазина</h2>
{% if message %}
    <div class="alert alert-danger">{{ message }}</div>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}
        {% for error in form.name.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control", rows="5", style="height: 150px; white-space: pre-wrap; overflow-x: hidden;", wrap="soft") }}
        {% for error in form.description.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </p>
    <p>
        {{ form.logo.label }}<br>
        {{ form.logo(class="form-control") }}
        {% for error in form.logo.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </p>
    <p>
        {{ form.submit(class="btn btn-primary", type="submit") }}
        {% for error in form.submit.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </p>
</form>

{% endblock %}